---
import Layout from '../layouts/Layout.astro';
import BlogPost from '../components/BlogPost.astro';

import { siteConfig } from '../config/site-config';
//v4
//const post = await Astro.glob('./posts/**/*.{md,mdx}');

//v5
type BlogPostData = {
	frontmatter: {
		title: string;
		description: string;
		date: string;
		image: string;
	};
	url: string;
};
// Carga todos los archivos MD/MDX de la carpeta "posts" y subcarpetas
const allPosts = import.meta.glob('./posts/**/*.{md,mdx}', { eager: true });

// Transformamos el objeto en un array de posts
const post = Object.values(allPosts) as BlogPostData[];;
---

<Layout title="Christopher Blog">
	<!-- component -->
	<section class="bg-white dark:bg-gray-900">
		<div class="container px-6 py-10 mx-auto">
			<h1
				class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white">
				{siteConfig.title}
			</h1>

			<div class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2">
				{post.map((post) => <BlogPost {...post} />)}
			</div>
		</div>
	</section>
</Layout>
